
<div class="container">
    <div class="card">
      <div class="card-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Notas Diarias</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Notas Fijas</button>
            </li>
           
          </ul>
          
          <!-- Tab panes -->
            <div class="tab-content">
            <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab"> <app-formulario></app-formulario> </div>
            <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab"> <app-notafijas></app-notafijas></div>
            
          </div>


    </div>
  </div>
  